.navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

.navbar a {
  color: #fff;
}

.navbar h4 a {
  float: right;
  padding-top: 10px;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  float: left;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  max-width: 100%;
}

.navbar h4 a:hover {
  background: #444;
  color: #f7c08a;
}

.navbar ul li a:hover,
.navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

.aboutus {
  position: absolute;
  right: 0px;
}
 